<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TodoApp</title>
    <link rel="stylesheet" href="../static/styles.css" type="text/css">
</head>
<body>
    <header>
        <ul>
            <li id="logo"><a href="login.html">TodoApp</a></li>
            <li>Don't have an Account? <a href="register.html">SIGN UP</a></li>
        </ul>
    </header>
    <div id="heading">
        <h2>Welcome to Todo App</h2>
    </div>
    <div id="login">
        <form action="" method="POST">
            <h3>Log into Your Account</h3>
            <br>
            <input type="email" name="mail" id="email" placeholder="Email" required>
            <input type="password" name="pass" id="pass" placeholder="Password" minlength="6" required>
            <p>
                <a href="reset.html"> Forgot Password? </a>  
                <input type="submit" value="Login">
            </p>
        </form>
        <br>
        <footer>
                <p>&copy BlogPost</p>
        </footer>
    </div>
</body>
</html>