<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Post</title>
    <link rel="stylesheet" href="../static/styles.css" type="text/css">
</head>
<body>
    <header>
        <ul>
            <li id="logo"><a href="login.html">BlogPost</a></li>
            <li>Already have an Account? <a href="login.html">LOGIN</a></li>
        </ul>
    </header>
    <div id="heading">
        <h2>Create a new Account</h2>
    </div>
    <div id="login">
        <form action="" method="POST">
            <input type="text" name="fname" id="fname" placeholder="First name" required>
            <input type="text" name="sname" id="sname" placeholder="Surname" required>
            <input type="email" name="mail" id="email" placeholder="Email" required>
            <input type="password" name="pass" id="pass" placeholder="New password" minlength="6" required>
            <input type="password" name="pass" id="pass" placeholder="Confirm password" minlength="6" required>
            <p>
                &copy 2019
                <input type="submit" value="Register">
            </p>
        </form>
    </div>
</body>
</html>